// editor

#write {
	.tool {
		// opacity: 0.5;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 40px;
		font-size: 18px;
		.type {
			float: right;
			margin-top: 8px;
			margin-right: 60px;
			span {
				padding: 4px 14px;
				margin-left: 0px;
				color: #aaa;
				&.selected {
					// background-color: #333;
					color: #333;
				}
			}
		}
		.publish {
			padding: 5px 14px;
			background-color: #333;
			color: #fff;
			border-radius: 3px;
			border: 2px solid #666;
			float: right;
			.icon-book-open {
				display: block;
				float: left;
				margin-top: 1px;
				margin-right: 10px;
			}
		}
	}
	.contenteditable.title:empty {
		line-height: 38px;
		padding-top: 14px;
		&:before {
			content: "键入文章标题";
	        color: #ccc;
	        font-style: italic;
	        cursor: text;
		}
	}
	.contenteditable.content:empty {
		line-height: 23px;
		padding-top: 5px;
		&:before {
			content: "键入正文...";
	        color: #ccc;
	        font-style: italic;
	        cursor: text;
		}
	}
	.toolbar {
		position: absolute;
		border: 2px #bbb solid;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background-color: #eee;
		top: 0;
		display: none;
		cursor: pointer;
		opacity: 0.3;
		transition-property: top;
		transition-duration: 0.1s;
		transition-timing-function: ease-out;
		font-size: 34px;
		color: #999;
		text-align: center;
		&:hover {
			opacity: 0.5;
		}
		input {
			width: 50px;
			position: absolute;
			height: 50px;
			left: 0;
			background-color: #f00;
			top: 0;
			opacity: 0;
			cursor: pointer;
		}
	}
	img {
		cursor: default;
		&:hover {
			border: 1px #ddd solid !important;
		}
	}
	.content {
		img {
			&.selected {
				border: 2px #aaa solid !important;
			}
			&::selection {
				background: rgba(0, 0, 0, 0.1);
			}
			&::-moz-selection {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
}