// editor

#write {
	.tool {
		// opacity: 0.5;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 50px;
		font-size: 18px;
		.type {
			float: left;
			span {
				padding: 5px 14px;
				margin-left: 15px;
				&.selected {
					background-color: #333;
					color: #fff;
				}
			}
		}
		.publish {
			padding: 5px 14px;
			background-color: #333;
			color: #fff;
			border-radius: 3px;
			border: 2px solid #666;
			float: right;
			.icon-book-open {
				display: block;
				float: left;
				margin-top: 1px;
				margin-right: 10px;
			}
		}
	}
	.contenteditable.title:empty {
		line-height: 38px;
		padding-top: 14px;
		&:before {
			content: "键入文章标题";
	        color: #ccc;
	        font-style: italic;
	        cursor: text;
		}
	}
	// .contenteditable.content:empty {
	// 	line-height: 25px;
	// 	padding-top: 5px;
	// 	&:before {
	// 		content: "键入正文，选择文字以调整样式";
	//         color: #ccc;
	//         font-style: italic;
	//         cursor: text;
	// 	}
	// }
	.toolbar {
		position: absolute;
		border: 2px #bbb solid;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background-color: #eee;
		top: 0;
		display: none;
		cursor: pointer;
		opacity: 0.4;
		transition-property: top;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		font-size: 34px;
		color: #999;
		text-align: center;
		&:hover {
			opacity: 1;
		}
	}
}