// setting page

.gradient(@color) {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, @color 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, @color));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, @color 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, @color 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, @color 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, @color 100%);
}

#person-overlay {
    background-color: rgba(0,0,0,.6);
    height: 100%;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: start;
    -moz-box-align: start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    width: 100%;
    z-index: 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    // display: none;
}

.input-wrap {
	width: 440px;
	padding: 4px;
	border: 1px #ccc solid;
	height: 22px;
	input {
		float: left;
		width: 400px;
		font-style: italic;
		font-size: 12px;
		border: 0;
		margin-top: 2px;
		margin-left: 3px;
		color: #888;
		// padding: 3px;
	}
	.confirm {
		float: right;
		margin-right: 5px;
		font-weight: bold;
		font-size: 12px;
		margin-top: 3px;
		cursor: pointer;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

.person {
    // display: none;
    width: 562px;
    // height: 765px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    margin: 80px 0 80px;
    color: #fff;
    .close {
        position: absolute;
        right: 18px;
        top: 20px;
        font-size: 14px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    .menu {
        position: absolute;
        left: 18px;
        top: 20px;
        font-size: 14px;
        // opacity: 0.8;
        .icon-btn {
            font-size: 16px;
        }
        .setting {
            margin-bottom: 4px;
            .icon-btn {
                margin-right: 4px;
            }
        }
        .logout {
            .icon-btn {
                font-size: 22px;
                margin-left: -4px;
            }
        }
    }
    .info {
    	position: absolute;
    	right: 12px;
    	top: 203px;
    	font-size: 12px;
    	font-style: italic;
    	float: right;
    	text-align: right;
    	line-height: 24px;
    	color: #ff7800;
    	.circle {
    		float: left;
    		margin-right: 8px;
    	}
    	.icon-btn {
    		font-size: 16px;
    		margin-left: 2px;
    		color: #fff;
    	}
    	.count {
    		margin-right: 5px;
    		font-size: 16px;
    		color: #fff;
    	}
    }
    .header {
        width: 100%;
        height: 264px;
        border-radius: 8px 8px 0 0;
        background: url(../img/person_cover.png);
        .cover {
            height: 100%;
            border-radius: 8px 8px 0 0;
            background: url(../img/cover.png);
            .gradient {
                height: 100%;
                width: 100%;
                // opacity: 0.5;
                float: left;
                .gradient(rgba(0,0,0,0.5));
            }
        }
        .head {
            margin: 0 auto;
            text-align: center;
            .avatar {
                width: 67px;
                height: 67px;
                margin: 0 auto;
                margin-top: 73px;
                border-radius: 67px;
                background: url(../img/avatar.png) no-repeat;
            }
            .nick {
                font-weight: bold;
                margin-top: 18px;
                font-size: 18px;
            }
            .motto {
                margin-top: 2px;
                font-size: 14px;
                color: #eee;
            }
        }
    }
    .page-setting {
    	color: #393939;
    	padding: 35px;
    	.setting-group {
    		margin-bottom: 45px;
	    	.head {
	    		font-weight: bold;
	    		padding-left: 15px;
	    		border-left: 4px #282828 solid;
	    		font-size: 16px;
	    	}
	    	.preface {
	    		text-indent: 29px;
	    	}
	    	.content {
	    		margin-top: 20px;
	    		color: #5b5b5b;
	    		font-size: 14px;
		    	.social-list {
		    		margin-bottom: 15px;
		    		.douban {
		    			font-weight: bold;
		    		}
		    		.split {
		    			font-weight: bold;
		    		}
		    	}
	    		.password {
	    			.input-split {
	    				float: left;
	    				font-weight: bold;
	    				margin-top: 2px;
	    				margin-left: 5px;
	    			}
	    			input {
	    				font-size: 12px;
	    				margin-right: 5px;
	    				width: 115px;
	    				float: left;
	    			}
	    		}
	    	}
	    	.content-padding {
	    		padding-left: 20px;
	    	}
    	}
    }
}