.input-wrap {
	width: 550px;
	padding: 4px;
	border: 1px #ddd solid;
	height: 22px;
	input {
		float: left;
		width: 400px;
		font-style: italic;
		font-size: 14px;
		border: 0;
		margin-top: 2px;
		margin-left: 3px;
		color: #888;
		// padding: 3px;
	}
	.confirm {
		float: right;
		margin-right: 5px;
		font-weight: bold;
		font-size: 14px;
		margin-top: 4px;
		cursor: pointer;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

#person {
    // display: none;
    width: 562px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 75px;
    color: #fff;
    .close {
        position: absolute;
        right: 18px;
        top: 20px;
        font-size: 14px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    // .menu {
    //     position: absolute;
    //     left: 18px;
    //     top: 20px;
    //     font-size: 14px;
    //     .icon-btn {
    //         font-size: 12px;
    //     }
    //     .setting {
    //         margin-bottom: 4px;
    //         .icon-btn {
    //             margin-right: 4px;
    //         }
    //     }
    //     .logout {
    //         .icon-btn {
    //             font-size: 22px;
    //             margin-left: -4px;
    //         }
    //     }
    // }
    .info {
    	position: absolute;
    	right: 18px;
    	top: 203px;
    	font-size: 14px;
    	font-style: italic;
    	float: right;
    	text-align: right;
    	line-height: 24px;
    	color: #ff7800;
    	.circle {
    		float: left;
    		margin-right: 8px;
    	}
    	.icon-btn {
    		font-size: 14px;
    		margin-left: 8px;
    		color: #fff;
    	}
    	.count {
    		margin-right: 5px;
    		font-size: 16px;
    		color: #fff;
    	}
    }
    .header {
        width: 100%;
        height: 264px;
        border-radius: 7px;
        background: url(../img/person_cover.png);
        .cover {
            height: 100%;
            border-radius: 7px;
            background: url(../img/cover.png);
            .gradient {
                height: 100%;
                width: 100%;
                border-radius: 7px;
                float: left;
            }
        }
        .head {
            margin: 0 auto;
            text-align: center;
            .avatar {
                width: 67px;
                height: 67px;
                margin: 0 auto;
                margin-top: 73px;
                border-radius: 67px;
                background: url(../img/avatar.png) no-repeat;
            }
            .nick {
                font-weight: bold;
                margin-top: 18px;
                font-size: 20px;
            }
            .motto {
                margin-top: 8px;
                font-size: 16px;
                color: #eee;
            }
        }
    }
    .page-setting {
    	color: #393939;
    	margin-top: 100px;
    	.setting-group {
    		margin-bottom: 75px;
	    	.head {
                .main {
                    font-size: 21px;
                    display: block;
                }
                .sub {
                    font-size: 12px;
                    color: #ccc;
                    display: block;
                    margin-top: 5px;
                }
	    		padding-right: 15px;
                width: 100px;
                text-align: right;
                color: #333;
                margin-left: -150px;
                float: left;
	    	}
	    	.preface {
	    		// text-indent: 29px;
                line-height: 24px;
	    	}
	    	.content {
	    		margin-top: 20px;
	    		color: #5b5b5b;
	    		font-size: 16px;
		    	.social-list {
		    		margin-bottom: 15px;
		    		.douban {
		    			font-weight: bold;
		    		}
		    		.split {
		    			font-weight: bold;
                        padding: 0 5px 0 5px;
		    		}
		    	}
	    		.password {
	    			.input-split {
	    				float: left;
	    				font-weight: bold;
	    				margin-top: 3px;
	    				margin-left: 5px;
                        margin-right: 4px;
	    			}
	    			input {
	    				margin-right: 5px;
	    				width: 147px;
	    				float: left;
	    			}
	    		}
	    	}
	    	.content-padding {
	    		// padding-left: 20px;
	    	}
    	}
    }
}